.aboutgrid{
    width: 100%;
    margin: 0px ;
    padding: 0px;
}

.aboutRow{
    margin: 0px;
    margin-top: 4%;
    margin-bottom: 10%;
    width: 100%;
}
/* .aboutMe{
    border: solid;
    border-color: blue
}

.aboutPic{
    border: solid;
    border-color: red;
} */

.aboutmepic{
    width: 80%;
    height: 80%;
}